/* Estilo personalizado para la barra de navegación */
.navbar-custom {
    background-color: #000; /* Fondo negro */
}

/* Estilo para las opciones de navegación */
.navbar-custom .nav-link {
    position: relative;
    color: #fff; /* Texto blanco */
    transition: color 0.2s; /* Transición de color al pasar el cursor */
}

/* Estilo para la animación al pasar el cursor */
.navbar-custom .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: forestgreen; /* Línea azul */
    transform: scaleX(0); /* Inicialmente la línea no se muestra */
    transition: transform 0.3s; /* Transición de la animación */
}

/* Estilo para la animación al pasar el cursor */
.navbar-custom .nav-link:hover::after {
    transform: scaleX(1); /* Al pasar el cursor, la línea aparece */
}
.jumbotron {
    backdrop-filter: blur(8px); /* Efecto de desenfoque */
    background-color: rgba(255, 255, 255, 0.5); /* Fondo con transparencia */
    padding: 2rem; /* Espaciado interno para evitar que el contenido se desborde */
}
.container {
    backdrop-filter: blur(8px); /* Efecto de desenfoque */
    background-color: rgba(255, 255, 255, 0.5); /* Fondo con transparencia */
    padding: 2rem; /* Espaciado interno para evitar que el contenido se desborde */
}


footer {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* Carrusel */



.circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 7s infinite;
    box-shadow: 0px 0px 1px 0px #0cf3ae;
}

.small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
}

.xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
}

.xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}

.shade1{
    opacity: 0.2;
}
.shade2{
    opacity: 0.5;
}

.shade3{
    opacity: 0.7;
}

.shade4{
    opacity: 0.8;
}

.shade5{
    opacity: 0.9;
}

@keyframes ripple{
    0%{
        transform: scale(0.8);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(0.8);
    }
}